.wrapper {
  padding: 1em;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  position: relative;
}

.wrapper > * {
  padding: 1em;
  flex: 0 1 100%;
}

.box {
  display: flex;
}

.display-borders {
  border-width: 2px;
  border-color: lightgrey;
  border-style: dashed;
}

#bottom_right_box {
  border-top-style: none;
  flex: 0 1 auto;
  order: 4;
  float: right;
  margin-left: auto;
  flex-flow: row-reverse nowrap;
  justify-content: flex-start;
  align-items: flex-end;
  align-content: flex-start;
}

#middle_box {
  flex-flow: column nowrap;
  order: 3;
  justify-content: flex-start;
  align-content: flex-start;
}

#top_left_box {
  flex: 0 1 auto;
  flex-flow: row nowrap;
  order: 1;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: flex-start;
  border-bottom-style: none;
}

#top_right_box {
  flex: 0 1 auto;
  flex-flow: row-reverse nowrap;
  order: 2;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: flex-start;
  border-bottom-style: none;
  /*position: absolute;
  right: 1em;*/
}

#preview {
  order: 5;
}

.add-element {
  padding: 0.5em;
  border-style: dotted;
  border-width: 2px;
  border-color: lightgrey;
}

.popover {
  max-width: 800px;
}

.popover-title {
  border: none;
  /*display: none;*/
}

.popover-content {
  /*width: 600px;*/
  min-height: 200px;
}

.popover-data {
  width: 600px;
  min-height: 200px;
}

.popover-delete {
  float: right;
}

.popover-label {
  display: inline-block;
}
