.wrapper {
  padding: 1em;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.wrapper > * {
  padding: 1em;
  flex: 0 1 100%;
}

.footer {
  border-style: none dashed dashed dashed;
  border-width: 2px;
  border-color: lightgrey;
  flex: 0 1 auto;
  float: right;
  margin-left: auto;
  display: flex;
  flex-flow: row-reverse nowrap;
  justify-content: flex-start;
  align-items: flex-end;
  align-content: flex-start;
}

.main {
  border-style: dashed;;
  border-width: 2px;
  border-color: lightgrey;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-content: center;
}

.header-left {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: flex-start;
  border-style: dashed dashed none dashed;
  border-width: 2px;
  border-color: lightgrey;
}

.header-right {
  display: flex;
  flex-flow: row-reverse nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: flex-start;
  border-style: dashed dashed none dashed;
  border-width: 2px;
  border-color: lightgrey;
}

.header {
  flex: 0 1 auto;
  /*height: 15%;*/
}

@media all and (min-width: 800px) {
  /*.main    { flex: 3 0px; }*/
  .header-left { order: 1; }
  .header-right { order: 2; }
  .main    { order: 3; }
  .footer  { order: 4; }
}

.addElement {
  padding: 1em;
  border-style: dotted;
  margin-left: 0.5em;
  margin-right: 0.5em;
  border-width: 2px;
  border-color: lightgrey;
}
