.wrapper {
  padding: 1em;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  position: relative;
}

.wrapper > * {
  padding: 1em;
  flex: 0 1 100%;
}

.box {
  border-width: 2px;
  border-color: lightgrey;
  border-style: dashed;
  display: flex;
}

#bottom-right-box {
  border-top-style: none;
  flex: 0 1 auto;
  order: 4;
  float: right;
  margin-left: auto;
  flex-flow: row-reverse nowrap;
  justify-content: flex-start;
  align-items: flex-end;
  align-content: flex-start;
}

#middle-box {
  flex-flow: column nowrap;
  order: 3;
  justify-content: center;
  align-content: center;
}

#top-left-box {
  flex: 0 1 auto;
  flex-flow: row nowrap;
  order: 1;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: flex-start;
  border-bottom-style: none;
}

#top-right-box {
  flex: 0 1 auto;
  flex-flow: row-reverse nowrap;
  order: 2;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: flex-start;
  border-bottom-style: none;
  /*position: absolute;
  right: 1em;*/
}

/*@media all and (min-width: 800px) {*/
  /*.main    { flex: 3 0px; }*/
  /*.header-left { order: 1; }
  .header-right { order: 2; }
  .main    { order: 3; }
  .footer  { order: 4; }*/
/*}*/

.add-element {
  padding: 1em;
  border-style: dotted;
  margin-left: 0.5em;
  margin-right: 0.5em;
  border-width: 2px;
  border-color: lightgrey;
}

.popover {
  max-width: 50%;
}

.popover-title {
  border: none;
}

textarea#content,
textarea#data {
  width: 400px;
  height: 200px;
}
